<head>
  {{ template "_internal/google_analytics.html" . }}


<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else }}{{ .Summary | plainify }}{{ end }}"
/>
<meta name="twitter:card" content="https://werz.is-a.dev/img/og_icon.png">
<meta name="og:site_name" content="Werz Portfolio | Cybersecurity content | CTF writeup | CTF walkthrough ">
<meta name="twitter:image:alt" content="Werz">
<meta
  name="keywords"
  content="{{ with .Params.Keywords }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}"
/>
<meta name="robots" content="noodp" />
<link rel="canonical" href="{{ .Permalink }}" />
<meta content="Portfolio - Cybersecurity Posts - CTF" property="og:description" />
<meta content="https://werz.is-a.dev/" property="og:url" />
<meta property="og:image" content="https://werz.is-a.dev/img/og_icon.png">
<meta property="fb:app_id" content="your_app_id" />
<meta name="twitter:site" content="@werz0xff">
<meta content="Werz Portfolio | Cybersecurity content" property="og:title" />

<!-- head custom -->
{{- partial "prepended_head.html" . }}

<!-- Theme CSS -->
<link rel="stylesheet" href="{{ "assets/style.css" | absURL }}" />
<!-- Custom CSS to override theme properties (/static/style.css) -->
<link rel="stylesheet" href="{{ "style.css" | absURL }}" />

<!-- Icons -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png | absURL" }}">
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="img//android-chrome-192x192.png">
<link rel="manifest" href="img/site.webmanifest">
<link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Fonts -->
<link href="{{ "assets/fonts/Inter-Italic.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="{{ "assets/fonts/Inter-Regular.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="{{ "assets/fonts/Inter-Medium.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="{{ "assets/fonts/Inter-MediumItalic.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="{{ "assets/fonts/Inter-Bold.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="{{ "assets/fonts/Inter-BoldItalic.woff2" | absURL }}" rel="preload" type="font/woff2" as="font" crossorigin="">

<!-- Twitter Card -->
{{ template "_internal/twitter_cards.html" . }}

<!-- OG data -->
{{ template "_internal/opengraph.html" . }}

<!-- RSS | JSON -->
{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- head custom -->
{{- partial "extended_head.html" . }}
</head>